.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 8rem;
  width: 100%;
  height: 100%;
  background-color: #bfd2e4
}

.dashboard-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
}

.dashboard-description {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
